html, body { 
  margin: 0;
  height: 100%;
}

.header {
  width: 100%;
  height: 80px; 
}

.inner_header{
  width:1000px;
  height: 100%;
  display:block;
  margin: 0 auto;
}

.logo{
  height: 100%;
  display: table;
  float: left;
}


.logo h1{
  color: darkolivegreen;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 100;
}

.logo h1 span{
  font-weight: 800; 
}
 
.grid {
  width: 70%;
  height: 100%; 
  float:left;
}

canvas { 
  padding: 25px;    
}

.btn-group { 
  width: 200px; 
  float: left;
  align-self: center;
}

button {
  padding: 10px 15px; 
  text-align: center;
  cursor: pointer;
  outline: none; 
  color: #fff;
  background-color: #4caf65;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999; 
  margin-left: 100px;
  margin-top: 20px;
  display:block; 
} 

button:hover {
  background-color: #3e8e41
}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
  
