canvas {
  border: 1px solid #ccc;
}

/* #mydiv {
  position: absolute;
  z-index: 9;
  background-color: #f1f1f1;
  text-align: center;
  border: 1px solid #d3d3d3;
  resize: both;
  overflow: auto;
  border: 2px solid rgb(172, 169, 169);
} */