<!doctype html>
<html lang="en">
<head>
    {% load static %}
    
    <meta charset="utf-8">

    <title>Gardener</title>
    <meta name="description" content="Hackthe6 project">
    <meta name="author" content="Our Group">
    <script src=https://cdnjs.cloudflare.com/ajax/libs/fabric.js/3.6.3/fabric.min.js></script>
    <link rel="stylesheet" href="{% static 'gardener/styles.css' %}"> </link> 

</head>

<body>

  <div class="header">
    <div class="inner_header">
      <div class="logo">
        <h1>Welcome<span> Gardener</span></h1>
      </div>
    </div>
  </div>
  <div class='btn-group'>
    <button id="sprout-but"> 
      Sprout
    </button> 
    <button id="flower-but">
      Flower
    </button> 
    <button id="bush-but">
      Bush
    </button>
    <button id="tree-but"> 
      Tree
    </button> 
    <button id="grass-but"> 
      Grass
    </button> 
    <button id="del-but"> 
      Delete
    </button> 
    <!-- <button class="group">Group</button>
    <button id="ungroup">Ungroup</button>
    <button id="multiselect">Multiselect</button> -->
  </div>
  <div class="grid">
    <canvas id="c" width="600" height="600">  
      <img src="{% static 'gardener/res-bush.png'%}" id='bush-pic'>   
      <img src="{% static 'gardener/res-flower.png'%}" id='flower-pic'>  
      <img src="{% static 'gardener/res-tree.png'%}" id='tree-pic'> 
      <img src="{% static 'gardener/res-sprout.png'%}" id='sprout-pic'> 
    </canvas>
  </div>
  <script src="{% static 'gardener/script.js' %}"></script>
</body>
</html>

