<!doctype html>
<html lang="en">
<head>
    {% load static %}
    
    <meta charset="utf-8">

    <title>Gardener</title>
    <meta name="description" content="Hackthe6 project">
    <meta name="author" content="Our Group">
    <script src=https://cdnjs.cloudflare.com/ajax/libs/fabric.js/3.6.3/fabric.min.js></script>
    <link rel="stylesheet" href="{% static 'gardener/styles.css' %}"> </link> 

</head>

<body>

  <h1>Draggable DIV Element on a Grid</h1>

  <p>Click and hold the mouse button down while moving the DIV element</p>

  <canvas id="c" width="600" height="600"></canvas>
  <script src="{% static 'gardener/script.js' %}"></script>
</body>
</html>

